@use '../util/fonts' as f;
@use '../globals/colors' as c;

@mixin containerPosition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin twoblocksPosition {
    display: flex;
    justify-content: space-between;
}

@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontalList {
    @include resetList;
  
    li {
      display: inline-block;
      margin: {
        left: -2px;
        right: 2em;
      }
      font-family: f.$font-heading;
      font-weight: 700;
      font-size: f.$fs-milli;
      color: c.$charleston-green;
      transition: color 0.2s linear 0s;

      &:hover {
        cursor: pointer;
        color: c.$slate-grey;
      }
    } 
  }