@use '../util/fonts' as f;
@use '../globals/colors' as c;

@mixin containerPosition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin twoblocksPosition {
    display: flex;
    justify-content: space-between;
}

@mixin flexPosition {
    display: flex;
    justify-content: center;
}

@mixin microTextStyle {
    color: c.$slate-grey;
    font-size: f.$fs-micro;
    font-weight: 400;
    line-height: 20px;
}

@mixin priceLabel {
    font-weight: 700;
    font-size: f.$fs-micro;
    line-height: 12px;
    color: c.$sea-green;
    border: 2px solid c.$sea-green;
    border-radius: 4px;
    padding: 8px 8px 6px;
} 

@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontalList {
    @include resetList;
  
    li {
      display: inline-block;
      margin: {
        left: -2px;
        right: 2em;
      }
      font-family: f.$font-heading;
      font-weight: 700;
      font-size: f.$fs-milli;
      color: c.$charleston-green;
      transition: color 0.2s linear 0s;

      &:hover {
        cursor: pointer;
        color: c.$slate-grey;
      }
    } 
  }

  @mixin badgeBox {
    width: 55px;
    padding: 2px 8px;
    border-radius: 24px;
    background: c.$ultramarine;
    color: c.$lotion;
    font-size: f.$fs-micro;
    line-height: 20px;
    font-weight: 600; 
  }

  @mixin nameStyle {
    font-weight: 500;
    font-size: f.$fs-milli;
    line-height: f.$fs-small;
    color: c.$charleston-green;
  }

  @mixin priceStyle {
    font-weight: 600;
    font-size: f.$fs-micro;
    line-height: 20px;
    color: c.$onyx;
  }

  @mixin currencyStyle {
    background-color: transparent;
    font-weight: 400;
    color: c.$slate-grey;
  }

  @mixin scrollArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

    :hover {
      padding: 12px 10px;
      border: 2px solid c.$bright-grey;
      border-radius: 40px;
    }
  }

  @mixin scrollArrowsContainer {
    display: flex;
    gap: 34px;
    width: 90px;
    height: 45px;
  }

@mixin titleStyle {
  font-weight: 700;
  font-size: f.$fs-middle;
  line-height: f.$fs-big;
  letter-spacing: -0.01em;
  color: c.$charleston-green;
}  