@use '../util/mixins' as m;
@use '../util/fonts' as f;
@use '../globals/colors' as c;

.hot-bid-container {
    @include m.containerPosition;
    justify-content: center;
    width: 1120px;
    height: 826px;
    margin: 0 auto;

    .hb-title-container {
        @include m.twoblocksPosition;
        width: 100%;

        h3 {
            font-weight: 700;
            font-size: f.$fs-middle;
            line-height: f.$fs-big;
            letter-spacing: -0.01em;
            color: c.$charleston-green;
        }

        .scroll-arrows-box {
            @include m.scrollArrowsContainer;

            div {
                @include m.scrollArrow;
            }
        }
    }

    .hb-product-card-container {
        @include m.twoblocksPosition;
        width: 1120px;

        .hb-product-card {
            @include m.containerPosition;
            gap: 16px;
    
            .hb-product-img img{
                border-radius: 16px;
            }
    
            .hb-product-title {
                @include m.twoblocksPosition;
    
                :nth-child(odd) {
                    font-weight: 500;
                    line-height: f.$fs-small;
                    color: c.$charleston-green;
                }
    
                :nth-child(even) {
                    @include m.priceLabel;
                }
            }
    
            .hb-product-owner {
                @include m.twoblocksPosition;
                padding-top: 10px;
    
                span {
                    font-size: f.$fs-milli;
                    line-height: f.$fs-small;
                    font-weight: 500;
                    color: c.$onyx;
                }
            }
    
            hr {
                width: 256px;
                border: 1px solid c.$bright-grey;
                border-radius: 1px;
            }
    
            .hb-product-update {
                @include m.twoblocksPosition;
                gap: 32px;
                align-items: center;
    
                span {
                    font-size: f.$fs-micro;
                    line-height: 20px;
                    font-weight: 400;
                    color: c.$slate-grey; 
                }
    
                mark {
                    font-family: f.$font-text;
                    font-size: f.$fs-micro;
                    line-height: 20px;
                    background-color: transparent;
                    font-weight: 600;
                    color: c.$onyx;
                }
    
                :nth-child(1) {
                    display: flex;
                    gap: 3px;
                }
                
            }
        }
    }

}