@use '../globals/colors' as c;

// MAIN PAGE GRID
.highest-bid {
    grid-area: main;
}

.second-bid {
    grid-area: second;
}

.third-bid {
    grid-area: third;

    button {
        border: 2px solid c.$ultramarine;
        background-color: c.$ultramarine;
        color: c.$lotion;
    }
}

.fourth-bid {
    grid-area: fourth;
}

.arts-catalog-box {
    display: grid;
    gap: 24px;
    grid-template-columns: 450px 350px;
    grid-template-rows: repeat(3, 148px);
    grid-template-areas: 
        "main second"
        "main third"
        "main fourth";
    border-right: 2px solid c.$bright-grey;
    padding-right: 32px;
}


// MAIN PAGE SUB GRID

.updates-bid-img {
    grid-area: img;
    height: 148px;
}

.updates-bid-title {
    grid-area: title;
}

.updates-bid-info {
    grid-area: info;
}

.updates-placebid-btn {
    grid-area: button;
}

.second-bid, .third-bid, .fourth-bid {
    display: grid;
    gap: 10px;
    grid-template-columns: 165px 165px;
    grid-template-rows: 32px 26px 48px;
    grid-template-areas: 
        "img title"
        "img info"
        "img button";
}