@use '../globals/colors' as c;

// MAIN PAGE GRID
.highest-bid {
    grid-area: main;
}

.second-bid {
    grid-area: second;
}

.third-bid {
    grid-area: third;
}

.fourth-bid {
    grid-area: fourth;
}

.arts-catalog-box {
    display: grid;
    gap: 24px;
    grid-template-columns: 450px 350px;
    grid-template-rows: repeat(3, 148px);
    grid-template-areas: 
        "main second"
        "main third"
        "main fourth";
    border-right: 2px solid c.$bright-grey;
    padding-right: 32px;
}


// MAIN PAGE SUB GRID

.updates-bid-img {
    grid-area: img;
    height: 148px;
}

.updates-bid-title {
    grid-area: title;
}

.updates-bid-info {
    grid-area: info;
}

.updates-placebid-btn {
    grid-area: button;
}

.second-bid, .third-bid, .fourth-bid {
    display: grid;
    gap: 10px;
    grid-template-columns: 165px 165px;
    grid-template-rows: 32px 26px 48px;
    grid-template-areas: 
        "img title"
        "img info"
        "img button";
}

// HOT COLLECTIONS GRID
.first-pic {
    grid-area: first-img;
}

.second-pic {
    grid-area: second-img;
}

.third-pic {
    grid-area: third-img;
}

.fourth-pic {
    grid-area: fourth-img;
}

.collection-pic-box {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: 240px 84px;
    grid-template-areas: 
        "first-img first-img first-img"
        "second-img third-img fourth-img";
}