@use '../../globals/colors' as c;
@use '../../util/mixins' as m;
@use '../../util/fonts' as f;

.footer-banner-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 1120px;
    padding: 80px 0;

    .fb-desc-container {
        @include m.flexPosition;
        flex-direction: column;
        width: 480px;

        span {
            color: c.$slate-grey;
        }

        :nth-child(1) {
            span {
                font-weight: 700;
                text-transform: uppercase;
                line-height: f.$fs-base;
            }
        }

        h2 {
            font-weight: 700;
            font-size: 58px;
            line-height: 58px;
            letter-spacing: -0.02em;
            margin-bottom: 24px;
        }

        :nth-child(3) {
            span {
                font-weight: 400;
                line-height: f.$fs-small;
            }
        }

        :nth-child(4) {
            padding-top: 32px;
            display: flex;
            gap: 40px;
        }
    }

    .fb-img-container {

        img{
            width: 640px;
        }
    }
}




@media (min-width: 1200px) {
    
}

@media (min-width: 990px) and (max-width: 1200px) {
    .footer-banner-container {
        width: 100%;

        .fb-img-container {
            img {
                width: 26em;
            }
        }
    }
    
}

@media (max-width: 1024px) {
    .footer-banner-container {
        width: 100%;

        .fb-img-container {
            img {
                width: 26em;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .footer-banner-container {
        width: 100%;
        padding-left: 40px;

        .fb-desc-container {
            h2 {
                font-size: 48px;
            }
        }
        
        .fb-img-container {
            img {
                width: 20em;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer-banner-container {
        @include m.containerPosition;

        .fb-desc-container {
            align-items: center;

            h2 {
                text-align: center;
            }

            .buttons-box {
                flex-direction: column;
                width: 20em;

                button {
                    width: 100%;
                }
            }
        }

        .fb-img-container {
            margin-top: 40px;
        }
    }

    .footer-line {
        display: none;
    }
}