@use '../../globals/colors' as c;
@use '../../util/mixins' as m;
@use '../../util/fonts' as f;

.hot-bid-container {
    @include m.containerPosition;
    justify-content: center;
    width: 1120px;
    height: 826px;
    margin: 0 auto;

    .hb-title-container {
        @include m.twoblocksPosition;
        width: 100%;

        h3 {
            @include m.titleStyle;
        }

        .scroll-arrows-box {
            @include m.scrollArrowsContainer;

            div {
                @include m.scrollArrow;
            }
        }
    }

    .hb-product-card-container {
        @include m.twoblocksPosition;
        width: 1120px;
    }

}





@media (min-width: 1200px) {

}

@mixin hotbidMedia {
    .hot-bid-container {
        width: 100%;
        padding-left: 24px;

        .hb-title-container{
            width: 100%;
            padding-right: 24px;
        }

        .hb-product-card-container {
            width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            scroll-snap-type: x mandatory;

            .product-card {
                margin-right: 2em;
                scroll-margin-right: 1200px;
            }
        }
    }

}

@media (min-width: 990px) and (max-width: 1200px) {
    @include hotbidMedia;
}

@media (max-width: 1024px) {
    @include hotbidMedia;
}

@media (min-width: 768px) and (max-width: 990px) {
    @include hotbidMedia;
}

@media (max-width: 768px) {
    @include hotbidMedia;
}