@use '../../globals/colors' as c;
@use '../../util/mixins' as m;
@use '../../util/fonts' as f;

.hot-bid-container {
    @include m.containerPosition;
    justify-content: center;
    width: 1120px;
    height: 826px;
    margin: 0 auto;

    .hb-title-container {
        @include m.twoblocksPosition;
        width: 100%;

        h3 {
            @include m.titleStyle;
        }

        .scroll-arrows-box {
            @include m.scrollArrowsContainer;

            div {
                @include m.scrollArrow;
            }
        }
    }

    .hb-product-card-container {
        @include m.twoblocksPosition;
        width: 1120px;
    }

}