// DARK COLORS
$charleston-green: #23262f;
$chinese-black: #141416;
$onyx: #353945;

// NEURTAL COLORS
$slate-grey: #777e91;
$bright-grey: #e6e8ec;

// LIGHT COLORS
$lotion: #fcfcfd;

// BRIGHT COLORS
$ultramarine: #3772ff;
$sea-green: #45b36b;

// SHADOWS
$yankees-blue-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12); 