html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #fcfcfd;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}

span {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 130px 0;
}
.main-heading p {
  color: #777e91;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 12px;
}
.main-heading h1 {
  color: #23262f;
  font-size: 40px;
  line-height: 40px;
}

.banner-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 128px;
}

.banner-product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 352px;
}
.banner-product-details h2 {
  color: #23262f;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 20px;
}
.banner-product-details div, .banner-product-details article {
  width: 100%;
}
.banner-product-details .product-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.banner-product-details .product-author div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}
.banner-product-details .product-author div span {
  color: #777e91;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.banner-product-details .product-author div :nth-child(even) {
  color: #23262f;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.banner-product-details .auction-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 32px;
  background-color: #fcfcfd;
  border: 2px solid #e6e8ec;
  -webkit-box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
          box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}
.banner-product-details .auction-info :nth-child(1) span, .banner-product-details .auction-info :nth-child(4) span {
  font-weight: 500;
  font-size: 16px;
  color: #23262f;
  line-height: 24px;
}
.banner-product-details .auction-info :nth-child(4) {
  margin: 24px 0 10px;
}
.banner-product-details .auction-info div h3 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
.banner-product-details .auction-info :nth-child(3) span {
  color: #777e91;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.banner-product-details .auction-info .time-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.banner-product-details .auction-info .time-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner-product-details .auction-info .time-block time {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #141416;
  font-size: 32px;
  line-height: -0.01em;
}
.banner-product-details .auction-info .time-block span {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.banner-product-details .bid-btn, .banner-product-details .item-details-link {
  width: 100%;
  margin-bottom: 20px;
}
.banner-product-details .bid-btn button {
  width: 100%;
  background-color: #3772ff;
  border: none;
  color: #fcfcfd;
}
.banner-product-details .item-details-link {
  margin-top: 10px;
}
.banner-product-details .item-details-link a {
  padding: 16px 136px;
  color: #23262f;
}
.banner-product-details .scroll-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  margin: 40px 210px 0 0;
  width: auto;
}
.banner-product-details .scroll-arrows :nth-child(1) {
  padding: 10px;
}
.banner-product-details .scroll-arrows :nth-child(2) {
  border: 2px solid #e6e8ec;
  border-radius: 40px;
  padding: 8px;
}

.updates-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}
.updates-container .highest-bid-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.updates-container .highest-bid-desc div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.updates-container .highest-bid-desc :nth-child(1) img {
  padding-top: 8px;
}
.updates-container .highest-bid-desc .highest-bid-title {
  margin-right: 80px;
}
.updates-container .highest-bid-desc .highest-bid-title :nth-child(1) {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #23262f;
}
.updates-container .highest-bid-desc .highest-bid-title :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #353945;
}
.updates-container .highest-bid-desc .highest-bid-price {
  color: #777e91;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.updates-container .highest-bid-desc .highest-bid-price :nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #45b36b;
  border: 2px solid #45b36b;
  border-radius: 4px;
  padding: 8px 8px 6px;
}
.updates-container .art-img {
  border-radius: 12px;
}
.updates-container .updates-data-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.updates-container .updates-data-box .updates-bid-title {
  padding-top: 20px;
}
.updates-container .updates-data-box .updates-bid-title span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.updates-container .updates-data-box .updates-bid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.updates-container .updates-data-box .updates-bid-info img {
  width: 28px;
}
.updates-container .updates-data-box .updates-bid-info :nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #45b36b;
  border: 2px solid #45b36b;
  border-radius: 4px;
  padding: 8px 8px 6px;
}
.updates-container .updates-data-box .updates-bid-info :nth-child(3) {
  color: #777e91;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  padding-top: 5px;
}
.updates-container .updates-data-box .updates-placebid-btn button {
  padding: 8px 12px;
}
.updates-container .creators-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 32px;
}
.updates-container .creators-box .creators-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #777e91;
}
.updates-container .creators-box .creators-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.updates-container .creators-box .creators-list .creator-item {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.updates-container .creators-box .creators-list .creator-item .creator-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}
.updates-container .creators-box .creators-list .creator-item .creator-name :nth-child(odd) {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
}
.updates-container .creators-box .creators-list .creator-item .creator-name :nth-child(even) {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #353945;
}
.updates-container .creators-box .creators-list .creator-item .creator-name :nth-child(even) mark {
  background-color: transparent;
  font-weight: 400;
  color: #777e91;
}
.updates-container .creators-box .creators-list .divider {
  width: 224px;
  border: 1px solid #e6e8ec;
}
.updates-container .creators-box .creators-list .discover-btn {
  padding-top: 16px;
}
.updates-container .creators-box .creators-list .discover-btn button {
  padding: 12px 16px;
}

button {
  background-color: transparent;
  padding: 16px 24px;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}

a,
a:visited,
a:active {
  text-decoration: none;
  background-color: transparent;
  padding: 16px 24px;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header a {
  padding: 12px 16px;
  font-size: 14px;
  color: #23262f;
  font-weight: 700;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 14px;
  padding: 0 50px;
}
header .logo {
  border: none;
  margin: 10px 0 0 0;
  padding: 0;
}
header .nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav-bar li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #23262f;
  -webkit-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}
header .nav-bar li:hover {
  cursor: pointer;
  color: #777e91;
}
header .nav-bar .vertical-line {
  border-left: 2px solid #e6e8ec;
  height: 45px;
  position: absolute;
  left: 20%;
  margin-left: -30px;
  top: 0;
}
header .nav-bar, header div {
  margin-top: 25px;
}
header .notification-box {
  padding-top: 5px;
  margin-left: 200px;
}
header .upload-link-box, header .connect-wallet-link-box {
  padding-top: 16px;
}
header .upload-link-box a {
  border: 2px solid #3772ff;
  background-color: #3772ff;
  color: #fcfcfd;
}
header .profile-box img {
  width: 42px;
}
header .profile-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 3px 16px 3px 3px;
}
header .profile-box span {
  padding-top: 10px;
}
header .profile-box span u {
  text-decoration: none;
  color: #45b36b;
}

hr {
  margin: 0;
  border: 1px solid #e6e8ec;
}

.highest-bid {
  grid-area: main;
}

.second-bid {
  grid-area: second;
}

.third-bid {
  grid-area: third;
}
.third-bid button {
  border: 2px solid #3772ff;
  background-color: #3772ff;
  color: #fcfcfd;
}

.fourth-bid {
  grid-area: fourth;
}

.arts-catalog-box {
  display: grid;
  gap: 24px;
  grid-template-columns: 450px 350px;
  grid-template-rows: repeat(3, 148px);
  grid-template-areas: "main second" "main third" "main fourth";
  border-right: 2px solid #e6e8ec;
  padding-right: 32px;
}

.updates-bid-img {
  grid-area: img;
  height: 148px;
}

.updates-bid-title {
  grid-area: title;
}

.updates-bid-info {
  grid-area: info;
}

.updates-placebid-btn {
  grid-area: button;
}

.second-bid, .third-bid, .fourth-bid {
  display: grid;
  gap: 10px;
  grid-template-columns: 165px 165px;
  grid-template-rows: 32px 26px 48px;
  grid-template-areas: "img title" "img info" "img button";
}