html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #23262f;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}

span {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 130px 0;
}
.main-heading p {
  color: #777e91;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 12px;
}
.main-heading h1 {
  color: #23262f;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.banner-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8em;
}

.banner-product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22em;
}
.banner-product-details h2 {
  color: #23262f;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 20px;
}
.banner-product-details div, .banner-product-details article {
  width: 100%;
}
.banner-product-details .product-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.banner-product-details .product-author div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}
.banner-product-details .product-author div span {
  color: #777e91;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.banner-product-details .product-author div :nth-child(even) {
  color: #23262f;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.banner-product-details .auction-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 32px;
  background-color: #fcfcfd;
  border: 2px solid #e6e8ec;
  -webkit-box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
          box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}
.banner-product-details .auction-info :nth-child(1) span, .banner-product-details .auction-info :nth-child(4) span {
  font-weight: 500;
  font-size: 16px;
  color: #23262f;
  line-height: 24px;
}
.banner-product-details .auction-info :nth-child(4) {
  margin: 24px 0 10px;
}
.banner-product-details .auction-info div h3 {
  font-size: 48px;
  color: #141416;
  line-height: 56px;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
.banner-product-details .auction-info :nth-child(3) span {
  color: #777e91;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.banner-product-details .auction-info .time-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.banner-product-details .auction-info .time-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner-product-details .auction-info .time-block time {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #141416;
  font-size: 32px;
  line-height: -0.01em;
}
.banner-product-details .auction-info .time-block span {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.banner-product-details .bid-btn, .banner-product-details .item-details-link {
  width: 100%;
  margin-bottom: 20px;
}
.banner-product-details .bid-btn button {
  width: 100%;
}
.banner-product-details .item-details-link {
  margin-top: 2%;
}
.banner-product-details .item-details-link a {
  width: 100%;
  padding: 16px 38.5%;
  color: #23262f;
}
.banner-product-details .scroll-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  width: 100px;
  height: 45px;
  margin: 5% 70% 0 0;
}
.banner-product-details .scroll-arrows .scroll-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}
.banner-product-details .scroll-arrows .scroll-arrow :hover {
  padding: 12px 10px;
  outline: 2px solid #e6e8ec;
  border-radius: 40px;
}

.updates-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}
.updates-container .highest-bid-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.updates-container .highest-bid-desc div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.updates-container .highest-bid-desc :nth-child(1) img {
  padding-top: 8px;
}
.updates-container .highest-bid-desc .highest-bid-title {
  margin-right: 80px;
}
.updates-container .highest-bid-desc .highest-bid-title :nth-child(1) {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #23262f;
}
.updates-container .highest-bid-desc .highest-bid-title :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #353945;
}
.updates-container .highest-bid-desc .highest-bid-price {
  color: #777e91;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.updates-container .highest-bid-desc .highest-bid-price :nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #45b36b;
  border: 2px solid #45b36b;
  border-radius: 4px;
  padding: 8px 8px 6px;
}
.updates-container .art-img {
  border-radius: 12px;
}
.updates-container .highest-bid .updates-bid-img, .updates-container .highest-bid .highest-bid-img, .updates-container .second-bid .updates-bid-img, .updates-container .second-bid .highest-bid-img, .updates-container .third-bid .updates-bid-img, .updates-container .third-bid .highest-bid-img, .updates-container .fourth-bid .updates-bid-img, .updates-container .fourth-bid .highest-bid-img {
  position: relative;
}
.updates-container .highest-bid .updates-bid-img .black-arrow-box, .updates-container .highest-bid .highest-bid-img .black-arrow-box, .updates-container .second-bid .updates-bid-img .black-arrow-box, .updates-container .second-bid .highest-bid-img .black-arrow-box, .updates-container .third-bid .updates-bid-img .black-arrow-box, .updates-container .third-bid .highest-bid-img .black-arrow-box, .updates-container .fourth-bid .updates-bid-img .black-arrow-box, .updates-container .fourth-bid .highest-bid-img .black-arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #141416;
  width: 160px;
  height: 148px;
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  top: 0;
  opacity: 0.9;
  display: none;
}
.updates-container .highest-bid .updates-bid-img .black-arrow-box img, .updates-container .highest-bid .highest-bid-img .black-arrow-box img, .updates-container .second-bid .updates-bid-img .black-arrow-box img, .updates-container .second-bid .highest-bid-img .black-arrow-box img, .updates-container .third-bid .updates-bid-img .black-arrow-box img, .updates-container .third-bid .highest-bid-img .black-arrow-box img, .updates-container .fourth-bid .updates-bid-img .black-arrow-box img, .updates-container .fourth-bid .highest-bid-img .black-arrow-box img {
  padding-top: 15px;
}
.updates-container .highest-bid .updates-bid-img:hover .black-arrow-box, .updates-container .highest-bid .highest-bid-img:hover .black-arrow-box, .updates-container .second-bid .updates-bid-img:hover .black-arrow-box, .updates-container .second-bid .highest-bid-img:hover .black-arrow-box, .updates-container .third-bid .updates-bid-img:hover .black-arrow-box, .updates-container .third-bid .highest-bid-img:hover .black-arrow-box, .updates-container .fourth-bid .updates-bid-img:hover .black-arrow-box, .updates-container .fourth-bid .highest-bid-img:hover .black-arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.updates-container .highest-bid .highest-bid-img .black-arrow-box, .updates-container .second-bid .highest-bid-img .black-arrow-box, .updates-container .third-bid .highest-bid-img .black-arrow-box, .updates-container .fourth-bid .highest-bid-img .black-arrow-box {
  width: 448px;
  height: 432px;
}
.updates-container .updates-data-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.updates-container .updates-data-box .updates-bid-title {
  padding-top: 20px;
}
.updates-container .updates-data-box .updates-bid-title span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262f;
}
.updates-container .updates-data-box .updates-bid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.updates-container .updates-data-box .updates-bid-info img {
  width: 28px;
}
.updates-container .updates-data-box .updates-bid-info :nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #45b36b;
  border: 2px solid #45b36b;
  border-radius: 4px;
  padding: 8px 8px 6px;
}
.updates-container .updates-data-box .updates-bid-info :nth-child(3) {
  color: #777e91;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  padding-top: 5px;
}
.updates-container .updates-data-box .updates-placebid-btn button {
  padding: 8px 12px;
}
.updates-container .creators-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 32px;
}
.updates-container .creators-box .creators-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #777e91;
}
.updates-container .creators-box .creators-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.updates-container .creators-box .creators-list .creator-item {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.updates-container .creators-box .creators-list .creator-item .creator-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}
.updates-container .creators-box .creators-list .creator-item .creator-name :nth-child(odd) {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
}
.updates-container .creators-box .creators-list .creator-item .creator-name :nth-child(even) {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #353945;
}
.updates-container .creators-box .creators-list .creator-item .creator-name :nth-child(even) mark {
  background-color: transparent;
  font-weight: 400;
  color: #777e91;
}
.updates-container .creators-box .creators-list .divider {
  width: 224px;
  border: 1px solid #e6e8ec;
}
.updates-container .creators-box .creators-list .discover-btn {
  padding-top: 16px;
}
.updates-container .creators-box .creators-list .discover-btn button {
  padding: 12px 16px;
}
.updates-container .creators-box .creators-list .discover-btn button img {
  padding-left: 5px;
  padding-bottom: 1px;
}

.popular-sellers {
  background-color: #f4f5f6;
}

.popular-sellers-container {
  width: 1120px;
  height: 663px;
  margin: 0 auto;
  margin-top: 128px;
  padding-top: 128px;
}
.popular-sellers-container .ps-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular-sellers-container .ps-title-container .ps-title span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #777e91;
}
.popular-sellers-container .ps-title-container .ps-title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.popular-sellers-container .ps-title-container .ps-title div h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #23262f;
}
.popular-sellers-container .ps-title-container .ps-title div img {
  padding-top: 18px;
}
.popular-sellers-container .ps-title-container .search-bar .select-bar {
  position: relative;
}
.popular-sellers-container .ps-title-container .arrow-down {
  position: absolute;
  top: 20%;
  right: 22%;
}
.popular-sellers-container .ps-title-container .search-bar select {
  width: 256px;
  height: 48px;
  background: #fcfcfd;
  padding: 8px 8px 8px 16px;
  border: 2px solid #e6e8ec;
  border-radius: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
  -webkit-appearance: button;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  margin-right: 62px;
}
.popular-sellers-container .ps-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.popular-sellers-container .ps-list-container .ps-user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 247px;
  background-color: #fcfcfd;
  border-radius: 16px;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons .badge-box {
  width: 55px;
  padding: 2px 8px;
  border-radius: 24px;
  background: #3772ff;
  color: #fcfcfd;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons .purple-badge {
  background: #9757d7;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons .green-badge {
  background: #45b36b;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons .black-badge {
  background: #23262f;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons .grey-badge {
  background: #777e91;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-icons .plus-arrow-box {
  padding-left: 20px;
}
.popular-sellers-container .ps-list-container .ps-user-card hr {
  width: 150px;
  border: 1px solid #e6e8ec;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-user-info :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-user-info :nth-child(3) {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #353945;
}
.popular-sellers-container .ps-list-container .ps-user-card .card-user-info :nth-child(3) mark {
  background-color: transparent;
  font-weight: 400;
  color: #777e91;
}
.popular-sellers-container .ps-list-container .ps-user-card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
          box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
}
.popular-sellers-container .ps-list-container .scroll-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}
.popular-sellers-container .ps-list-container .scroll-arrow :hover {
  padding: 12px 10px;
  outline: 2px solid #e6e8ec;
  border-radius: 40px;
}

.hot-bid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1120px;
  height: 826px;
  margin: 0 auto;
}
.hot-bid-container .hb-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.hot-bid-container .hb-title-container h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #23262f;
}
.hot-bid-container .hb-title-container .scroll-arrows-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  width: 100px;
  height: 45px;
}
.hot-bid-container .hb-title-container .scroll-arrows-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}
.hot-bid-container .hb-title-container .scroll-arrows-box div :hover {
  padding: 12px 10px;
  outline: 2px solid #e6e8ec;
  border-radius: 40px;
}
.hot-bid-container .hb-product-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .hot-bid-container {
    width: 100%;
    padding-left: 24px;
  }
  .hot-bid-container .hb-title-container {
    width: 100%;
    padding-right: 24px;
  }
  .hot-bid-container .hb-product-card-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .hot-bid-container .hb-product-card-container .product-card {
    margin-right: 2em;
    scroll-margin-right: 1200px;
  }
}
@media (max-width: 1024px) {
  .hot-bid-container {
    width: 100%;
    padding-left: 24px;
  }
  .hot-bid-container .hb-title-container {
    width: 100%;
    padding-right: 24px;
  }
  .hot-bid-container .hb-product-card-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .hot-bid-container .hb-product-card-container .product-card {
    margin-right: 2em;
    scroll-margin-right: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .hot-bid-container {
    width: 100%;
    padding-left: 24px;
  }
  .hot-bid-container .hb-title-container {
    width: 100%;
    padding-right: 24px;
  }
  .hot-bid-container .hb-product-card-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .hot-bid-container .hb-product-card-container .product-card {
    margin-right: 2em;
    scroll-margin-right: 1200px;
  }
}
@media (max-width: 768px) {
  .hot-bid-container {
    width: 100%;
    padding-left: 24px;
  }
  .hot-bid-container .hb-title-container {
    width: 100%;
    padding-right: 24px;
  }
  .hot-bid-container .hb-product-card-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .hot-bid-container .hb-product-card-container .product-card {
    margin-right: 2em;
    scroll-margin-right: 1200px;
  }
}
.hot-collections-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 790px;
  background-color: #f4f5f6;
}
.hot-collections-container .ht-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1120px;
}
.hot-collections-container .ht-title-container h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #23262f;
}
.hot-collections-container .ht-pictures-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-pic-box img {
  border-radius: 8px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-desc-box .collection-name span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-desc-box .owner-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-desc-box .owner-info-box .owner-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-desc-box .owner-info-box .owner-name img {
  width: 24px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-desc-box .owner-info-box .owner-name span {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.hot-collections-container .ht-pictures-container .ht-collection-card .collection-desc-box .owner-info-box .amount-box span {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  border: 2px solid #e6e8ec;
  border-radius: 4px;
  padding: 8px 8px 6px;
}

.discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1600px;
  gap: 32px;
  margin-bottom: 128px;
}
.discover-container .discover-title {
  width: 1120px;
  padding-top: 128px;
}
.discover-container .discover-title h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #23262f;
}
.discover-container .discover-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discover-container .discover-nav .select-box {
  position: relative;
}
.discover-container .discover-nav .select-box select {
  width: 256px;
  height: 48px;
  background: #fcfcfd;
  padding: 8px 8px 8px 16px;
  border: 2px solid #e6e8ec;
  border-radius: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
  -webkit-appearance: button;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  width: 180px;
}
.discover-container .discover-nav .select-box .first-ar {
  position: absolute;
  top: 8px;
  right: 8px;
}
.discover-container .discover-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.discover-container .discover-nav nav ul li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #23262f;
  -webkit-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}
.discover-container .discover-nav nav ul li:hover {
  cursor: pointer;
  color: #777e91;
}
.discover-container .discover-nav nav ul li {
  padding: 6px 12px;
  color: #777e91;
  -webkit-transition: all 0.3s ease 0;
  -o-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}
.discover-container .discover-nav nav ul li:hover {
  background: #353945;
  color: #fcfcfd;
  border-radius: 100px;
}
.discover-container .discover-nav button {
  width: 116px;
  background: #3772ff;
  color: #fcfcfd;
  border: 2px solid #3772ff;
}
.discover-container .discover-nav button img {
  padding-left: 5px;
}
.discover-container hr {
  width: 1120px;
  border: 1px solid #e6e8ec;
}
.discover-container .discover-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discover-container .discover-filter .select-box {
  position: relative;
}
.discover-container .discover-filter .select-box select {
  width: 256px;
  height: 48px;
  background: #fcfcfd;
  padding: 8px 8px 8px 16px;
  border: 2px solid #e6e8ec;
  border-radius: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
  -webkit-appearance: button;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  margin-top: 10px;
}
.discover-container .discover-filter .select-box .arrow-down {
  position: absolute;
  top: 35px;
}
.discover-container .discover-filter .select-box .second-ar {
  right: 36px;
}
.discover-container .discover-filter .select-box .third-ar {
  right: 32px;
}
.discover-container .discover-filter .select-box .fourth-ar {
  right: 64px;
}
.discover-container .discover-filter .select-box label {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #b1b5c4;
}
.discover-container .discover-filter .range-price-box {
  width: 256px;
  position: relative;
}
.discover-container .discover-filter .range-price-box .bubble {
  position: absolute;
  z-index: 2;
  left: 38%;
  top: -5px;
}
.discover-container .discover-filter .range-price-box .bubble .comic-bubble-shape {
  position: relative;
  width: 60px;
  height: 28px;
  background: #141416;
  border-radius: 8px;
  text-align: center;
  padding: 4px 2px 0;
}
.discover-container .discover-filter .range-price-box .bubble .comic-bubble-shape::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-radius: 8px;
  border-top-color: #141416;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -8px;
}
.discover-container .discover-filter .range-price-box .bubble .comic-bubble-shape span {
  color: #fcfcfd;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}
.discover-container .discover-filter .range-price-box .range-slider label {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #b1b5c4;
}
.discover-container .discover-filter .range-price-box .range-slider input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 12px;
  width: 100%;
  background: -o-linear-gradient(344deg, #3772ff 50%, #e6e8ec 50%);
  background: linear-gradient(106deg, #3772ff 50%, #e6e8ec 50%);
  outline: none;
  border-radius: 12px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-top: 20px;
}
.discover-container .discover-filter .range-price-box .range-slider input:hover {
  opacity: 1;
}
.discover-container .discover-filter .range-price-box .range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  background: #3772ff;
  border: 4px solid #fcfcfd;
  border-radius: 50%;
  cursor: pointer;
}
.discover-container .discover-filter .range-price-box .range-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discover-container .discover-filter .range-price-box .range-numbers span {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.discover-container .discover-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.discover-container .discover-products-container .product-card {
  margin-bottom: 50px;
}
.discover-container .load-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #23262f;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px 16px;
}
.discover-container .load-container button img {
  margin-left: 14px;
}

.footer-banner-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  width: 1120px;
  padding: 80px 0;
}
.footer-banner-container .fb-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
}
.footer-banner-container .fb-desc-container span {
  color: #777e91;
}
.footer-banner-container .fb-desc-container :nth-child(1) span {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
}
.footer-banner-container .fb-desc-container h2 {
  font-weight: 700;
  font-size: 58px;
  line-height: 58px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
.footer-banner-container .fb-desc-container :nth-child(3) span {
  font-weight: 400;
  line-height: 24px;
}
.footer-banner-container .fb-desc-container :nth-child(4) {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.footer-banner-container .fb-img-container img {
  width: 640px;
}

button {
  background-color: transparent;
  padding: 16px 24px;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
}
button:hover:not(.main-heading button, .discover-btn button, .load-container button) {
  background-color: #3772ff;
  border: 2px solid #3772ff;
  color: #fcfcfd;
}

a,
a:visited,
a:active:not(.logo, .profile-box a, .item-details-link a) {
  text-decoration: none;
  background-color: transparent;
  padding: 16px 24px;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #23262f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover:not(.logo, .profile-box a),
a:visited:hover:not(.logo, .profile-box a),
a:active:not(.logo, .profile-box a, .item-details-link a):hover:not(.logo, .profile-box a) {
  background-color: #3772ff;
  border: 2px solid #3772ff;
  color: #fcfcfd;
}

header a,
header a:visited,
header a:active:not(.logo, .profile-box a) {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 700;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.product-card .product-img {
  position: relative;
}
.product-card .product-img img {
  border-radius: 16px;
}
.product-card .product-img:hover .place-bid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-card .product-img .place-bid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 256px;
  height: 303px;
  border-radius: 16px;
  background: #23262f;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0.9;
  display: none;
}
.product-card .product-img .place-bid-block .icons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
}
.product-card .product-img .place-bid-block .icons-block :nth-child(2) {
  padding-top: 10px;
}
.product-card .product-img .place-bid-block .pb-btn-block {
  text-align: center;
  margin-bottom: 15px;
}
.product-card .product-img .place-bid-block .pb-btn-block button {
  width: 134px;
  padding: 12px 16px;
  background: #3772ff;
  border: 2px solid #3772ff;
  font-size: 14px;
  color: #fcfcfd;
}
.product-card .product-img .place-bid-block .pb-btn-block button img {
  margin-left: 5px;
}
.product-card .product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-card .product-title :nth-child(odd) {
  font-weight: 500;
  line-height: 24px;
  color: #23262f;
}
.product-card .product-title :nth-child(even) {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #45b36b;
  border: 2px solid #45b36b;
  border-radius: 4px;
  padding: 8px 8px 6px;
}
.product-card .product-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}
.product-card .product-owner span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #353945;
}
.product-card hr {
  width: 256px;
  border: 1px solid #e6e8ec;
  border-radius: 1px;
}
.product-card .product-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-card .product-update span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #777e91;
}
.product-card .product-update mark {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: transparent;
  font-weight: 600;
  color: #353945;
}
.product-card .product-update :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

header {
  width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.75em;
  padding: 0 80px;
}
header .logo {
  border: none;
  margin: 10px 0 0 0;
  padding: 0;
}
header .nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav-bar li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #23262f;
  -webkit-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}
header .nav-bar li:hover {
  cursor: pointer;
  color: #777e91;
}
header .nav-bar .vertical-line {
  border-left: 2px solid #e6e8ec;
  height: 45px;
  position: absolute;
  left: 23%;
  margin-left: -30px;
  top: 0;
}
header .nav-bar, header div {
  margin-top: 25px;
}
header .notification-box {
  padding-top: 5px;
  margin-left: 5.5em;
}
header .upload-link-box, header .connect-wallet-link-box {
  padding-top: 16px;
}
header .profile-box img {
  width: 42px;
}
header .profile-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 3px 16px 3px 3px;
}
header .profile-box span {
  padding-top: 10px;
}
header .profile-box span u {
  text-decoration: none;
  color: #45b36b;
}

hr {
  width: 100%;
  margin: 0;
  border: 1px solid #e6e8ec;
}

.highest-bid {
  grid-area: main;
}

.second-bid {
  grid-area: second;
}

.third-bid {
  grid-area: third;
}

.fourth-bid {
  grid-area: fourth;
}

.arts-catalog-box {
  display: grid;
  gap: 24px;
  grid-template-columns: 450px 350px;
  grid-template-rows: repeat(3, 148px);
  grid-template-areas: "main second" "main third" "main fourth";
  border-right: 2px solid #e6e8ec;
  padding-right: 32px;
}

.updates-bid-img {
  grid-area: img;
  height: 148px;
}

.updates-bid-title {
  grid-area: title;
}

.updates-bid-info {
  grid-area: info;
}

.updates-placebid-btn {
  grid-area: button;
}

.second-bid, .third-bid, .fourth-bid {
  display: grid;
  gap: 10px;
  grid-template-columns: 165px 165px;
  grid-template-rows: 32px 26px 48px;
  grid-template-areas: "img title" "img info" "img button";
}

.first-pic {
  grid-area: first-img;
}

.second-pic {
  grid-area: second-img;
}

.third-pic {
  grid-area: third-img;
}

.fourth-pic {
  grid-area: fourth-img;
}

.collection-pic-box {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: 240px 84px;
  grid-template-areas: "first-img first-img first-img" "second-img third-img fourth-img";
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  padding: 80px 0 48px;
}
footer .top-footer .footer-logo-container {
  width: 256px;
}
footer .top-footer .footer-logo-container img {
  width: 126px;
  margin-top: -24px;
}
footer .top-footer .footer-logo-container span {
  font-size: 24px;
}
footer .top-footer .footer-nav span {
  font-weight: 500;
  line-height: 24px;
}
footer .top-footer .footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 36px;
}
footer .top-footer .footer-nav ul li {
  padding-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #777e91;
}
footer .top-footer .footer-nav ul li:hover {
  color: #23262f;
  cursor: pointer;
}
footer .top-footer .footer-contact :nth-child(1) span {
  font-weight: 500;
  line-height: 24px;
}
footer .top-footer .footer-contact :nth-child(2):not(.blue-arrow) {
  width: 352px;
  margin-top: 32px;
}
footer .top-footer .footer-contact :nth-child(2):not(.blue-arrow) span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
footer .top-footer .footer-contact .input-box {
  position: relative;
  margin-top: 20px;
}
footer .top-footer .footer-contact .input-box .blue-arrow {
  position: absolute;
  right: 10px;
  top: 10px;
}
footer .top-footer .footer-contact .input-box input {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #23262f;
}
footer .top-footer .footer-contact .input-box input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 14px;
  line-height: 24px;
}
footer .top-footer .footer-contact .input-box input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 14px;
  line-height: 24px;
}
footer .top-footer .footer-contact .input-box input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 14px;
  line-height: 24px;
}
footer .top-footer .footer-contact .input-box input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 14px;
  line-height: 24px;
}
footer .top-footer .footer-contact .input-box input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #777e91;
  font-size: 14px;
  line-height: 24px;
}
footer hr {
  width: 1120px;
  margin: 0 auto;
}
footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
  width: 1120px;
  margin: 0 auto;
}
footer .bottom-footer .copyright span {
  color: #777e91;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
footer .bottom-footer .cookie span {
  font-size: 12px;
  line-height: 20px;
}
footer .bottom-footer .cookie :nth-child(2) {
  font-weight: 600;
  color: #3772ff;
}

@media (min-width: 1200px) {
  header .menu-icon-box {
    display: none;
  }
  .updates-divider {
    display: none;
  }
  .bottom-scrolls {
    display: none;
  }
  .search-bar span {
    display: none;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  header {
    gap: 0.75;
    padding: 0 30px;
  }
  header .vertical-line {
    display: none;
  }
  header .notification-box {
    margin-left: 0;
  }
  header .menu-icon-box {
    display: none;
  }
  .banner-product-item {
    gap: 3em;
  }
  .banner-product-item .banner-image {
    width: 33em;
  }
  .banner-product-item .banner-image img {
    width: 100%;
  }
  .banner-product-item .banner-product-details {
    width: 19em;
  }
  .banner-product-item .banner-product-details h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .banner-product-item .banner-product-details .product-author, .banner-product-item .banner-product-details .auction-info {
    margin-bottom: 20px;
  }
  .banner-product-item .banner-product-details .auction-info {
    padding: 24px;
  }
  .banner-product-item .banner-product-details .bid-btn button {
    padding: 12px 16px;
  }
  .banner-product-item .banner-product-details .item-details-link a {
    padding: 12px 37%;
  }
  .updates-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .updates-container .arts-catalog-box {
    border: none;
  }
  .updates-container .arts-catalog-box .updates-divider {
    display: none;
  }
  .updates-container .creators-box {
    margin-top: 1.5em;
  }
  .updates-container .creators-box .creators-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
  }
  .updates-container .creators-box .creators-list .divider {
    display: none;
  }
  .updates-container .creators-box .creators-list .discover-btn {
    display: none;
  }
  .updates-divider {
    width: 53.5em;
  }
  .popular-sellers {
    width: 100%;
  }
  .popular-sellers .popular-sellers-container {
    width: 55em;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .search-bar div span {
    color: #b1b5c4;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .select-input {
    margin-top: 10px;
    margin-right: 0px;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .arrow-down {
    top: 30%;
    right: 5%;
  }
  .popular-sellers .popular-sellers-container .ps-list-container .scroll-arrow {
    display: none;
  }
  .popular-sellers .bottom-scrolls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    gap: 34px;
    width: 100px;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    padding-top: 2em;
  }
  .popular-sellers .bottom-scrolls .scroll-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
  }
  .popular-sellers .bottom-scrolls .scroll-arrow :hover {
    padding: 12px 10px;
    outline: 2px solid #e6e8ec;
    border-radius: 40px;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 0 30px;
  }
  header .logo {
    margin-right: 11.5em;
  }
  header .nav-bar {
    display: none;
  }
  header .menu-icon-box {
    display: none;
  }
  .banner-product-item {
    gap: 3em;
  }
  .banner-product-item .banner-image {
    width: 33em;
  }
  .banner-product-item .banner-image img {
    width: 100%;
  }
  .banner-product-item .banner-product-details {
    width: 19em;
  }
  .banner-product-item .banner-product-details h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .banner-product-item .banner-product-details .product-author, .banner-product-item .banner-product-details .auction-info {
    margin-bottom: 20px;
  }
  .banner-product-item .banner-product-details .auction-info {
    padding: 24px;
  }
  .banner-product-item .banner-product-details .bid-btn button {
    padding: 12px 16px;
  }
  .banner-product-item .banner-product-details .item-details-link a {
    padding: 12px 37%;
  }
  .updates-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .updates-container .arts-catalog-box {
    border: none;
  }
  .updates-container .arts-catalog-box .updates-divider {
    display: none;
  }
  .updates-container .creators-box {
    margin-top: 1.5em;
  }
  .updates-container .creators-box .creators-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
  }
  .updates-container .creators-box .creators-list .divider {
    display: none;
  }
  .updates-container .creators-box .creators-list .discover-btn {
    display: none;
  }
  .popular-sellers {
    width: 100%;
  }
  .popular-sellers .popular-sellers-container {
    width: 55em;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .search-bar div span {
    color: #b1b5c4;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .select-input {
    margin-top: 10px;
    margin-right: 0px;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .arrow-down {
    top: 30%;
    right: 5%;
  }
  .popular-sellers .popular-sellers-container .ps-list-container .scroll-arrow {
    display: none;
  }
  .popular-sellers .bottom-scrolls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    gap: 34px;
    width: 100px;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    padding-top: 2em;
  }
  .popular-sellers .bottom-scrolls .scroll-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
  }
  .popular-sellers .bottom-scrolls .scroll-arrow :hover {
    padding: 12px 10px;
    outline: 2px solid #e6e8ec;
    border-radius: 40px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  header {
    padding: 0 15px;
  }
  header .logo {
    margin-right: 0;
  }
  header .notification-box {
    margin-left: 0;
  }
  header .menu-icon-box {
    display: none;
  }
  .banner-product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-product-item .banner-product-details {
    width: 33em;
  }
  .banner-product-item .banner-product-details .product-author, .banner-product-item .banner-product-details .auction-info {
    margin-bottom: 40px;
  }
  .banner-product-item .banner-product-details .auction-info {
    padding: 32px;
  }
  .banner-product-item .banner-product-details .item-details-link a {
    padding: 12px 42.5%;
  }
  .banner-product-item .scroll-arrows {
    margin: 5% 0% 0 0;
  }
  .updates-divider {
    display: none;
  }
  .updates-container .arts-catalog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .updates-container .second-bid, .updates-container .third-bid, .updates-container .fourth-bid {
    display: none;
  }
  .updates-container .creators-box {
    width: 30em;
    margin-left: 0;
    padding-right: 30px;
  }
  .updates-container .creators-box .creators-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .updates-container .creators-box .creators-list .creator-item {
    scroll-margin-right: 20em;
  }
  .popular-sellers {
    padding-bottom: 128px;
  }
  .popular-sellers .popular-sellers-container {
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .popular-sellers .popular-sellers-container .ps-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .ps-title h3 {
    margin-bottom: 20px;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .search-bar select {
    margin-bottom: 40px;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .search-bar .arrow-down {
    top: 18%;
    right: 68%;
  }
  .popular-sellers .popular-sellers-container .ps-list-container {
    scroll-margin-right: 100%;
  }
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
  header nav, header div {
    display: none;
  }
  header .menu-icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .header-line {
    display: none;
  }
  .main-heading {
    margin: 80px 0;
  }
  .banner-product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-product-item .banner-image {
    width: 20em;
  }
  .banner-product-item .banner-image img {
    width: 100%;
  }
  .banner-product-item .banner-product-details {
    width: 20em;
  }
  .banner-product-item .banner-product-details .scroll-arrows {
    margin: 5% 0% 0 0;
  }
  .updates-container .arts-catalog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .updates-container .second-bid, .updates-container .third-bid, .updates-container .fourth-bid {
    display: none;
  }
  .updates-container .highest-bid {
    width: 19em;
  }
  .updates-container .highest-bid .highest-bid-img img, .updates-container .highest-bid .highest-bid-img .black-arrow-box {
    width: 100%;
    height: 27em;
  }
  .updates-container .highest-bid .highest-bid-img .black-arrow-box img {
    width: 80px;
  }
  .updates-container .highest-bid .highest-bid-desc {
    width: 100%;
  }
  .updates-container .highest-bid .highest-bid-desc .highest-bid-title {
    margin-right: 40px;
  }
  .updates-container .highest-bid .highest-bid-desc .highest-bid-title span {
    font-size: 16px;
    line-height: 24px;
  }
  .updates-container .creators-box {
    width: 19em;
    margin-left: 0;
    padding-right: 0;
  }
  .updates-container .creators-box .creators-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .updates-container .creators-box .creators-list .creator-item {
    scroll-margin-right: 15em;
  }
  .updates-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 19em;
    border: 1px solid #e6e8ec;
  }
  .popular-sellers {
    padding-bottom: 128px;
  }
  .popular-sellers .popular-sellers-container {
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .popular-sellers .popular-sellers-container .ps-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .ps-title h3 {
    margin-bottom: 20px;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .search-bar select {
    margin-bottom: 40px;
  }
  .popular-sellers .popular-sellers-container .ps-title-container .search-bar .arrow-down {
    top: 18%;
    right: 51%;
  }
  .popular-sellers .popular-sellers-container .ps-list-container {
    scroll-margin-right: 100%;
  }
}